[submodule "this/.me"]
	path = this/.me
	url = https://github.com/neurons-me/.me.git

[submodule "this/GUI"]
	path = this/GUI
	url = https://github.com/neurons-me/GUI.git

[submodule "domains/neurons-me.github.io"]
	path = domains/neurons-me.github.io
	url = https://github.com/neurons-me/neurons-me.github.io.git

[submodule "core/cleaker"]
	path = core/cleaker
	url = https://github.com/neurons-me/cleaker.git


[submodule "core/netget"]
	path = core/netget
	url = https://github.com/neurons-me/netget.git
