[submodule "src/npm.neurons"]
	path = src/npm.neurons
	url = https://github.com/neurons-me/npm.neurons.git

[submodule "src/crate.neurons"]
	path = src/crate.neurons
	url = https://github.com/neurons-me/crate.neurons.git

[submodule "src/pip.neurons"]
	path = src/pip.neurons
	url = https://github.com/neurons-me/pip.neurons.git
