[submodule "modules/npm.neurons"]
	path = modules/npm.neurons
	url = https://github.com/neurons-me/npm.neurons.git
[submodule "modules/crate.neurons"]
	path = modules/crate.neurons
	url = https://github.com/neurons-me/crate.neurons.git
[submodule "modules/pip.neurons"]
	path = modules/pip.neurons
	url = https://github.com/neurons-me/pip.neurons.git
