node_modules/
./docs/dist/
package-lock.json
yarn.lock
.DS_Store
.vscode/
.env
.env.local
.env.*.local
./src/cargo/target/
dist/
build/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
./src/npm/node_modules/